/*header*/

/*-----WebStudio-----*/

/*nav-----------------------------------------------------------*/

/*mail/tel*/

/*main-----------------------------------------------------------*/
/*section-order------------------------------------------------------*/

/*section-features------------------------------------------------*/

/*section-do------------------------------------------------------*/

/*section-team-----------------------------------------------------*/

/*section-customers-----------------------------------------------*/

/*footer----------------------------------------------------------*/

/*social-input----------------------------------------------------*/

/*section-join-----------------------------------------*/

/*--------portfolio.html-------------------------------------------*/
/*-header copy from index.html-*/
/*portfolio*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-title {
  /*display: none;*/
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-list {
  margin-bottom: 50px;
  justify-content: center;
  display: flex;
  list-style: none;
}
.portfolio-list-item {
  background: var(--team-background);
  border-radius: 4px;
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-list > .portfolio-list-item:not(:last-child) {
  margin-right: 8px;
}
.btn-filters {
  border-radius: 4px;
  transition: background var(--transition-hover-focus),
    color var(--transition-hover-focus);
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  color: var(--color-title);
}
.btn-filters:hover,
.btn-filters:focus {
  background: var(--color-hover-focus);
  color: var(--portfolio-background);
}
/*project-list---------------------------------------------------*/
.project {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
}
.project-items {
  transition: box-shadow var(--transition-hover-focus);
  background: var(--color-section-title);
  flex-basis: calc((100% - 600px) / 3);
}
.project-items:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-items:hover .project-top-text {
  transform: translateY(0);
}
.project-top {
  overflow: hidden;
  position: relative;
}
.project-top-text {
  overflow: auto;
  transition: transform var(--transition-hover-focus);
  transform: translateY(100%);
  height: 100%;
  padding: 63px 24px;
  background-color: var(--color-overley-bg);
  top: 0;
  position: absolute;
  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;
  color: var(--color-section-title);
}
.project-name {
  border: 1px solid #eeeeee;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
}
.prodject-item {
  max-width: 100%;
}
.project-title {
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--color-title);
}
.project-text {
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--color-text);
}
/*footer copy from index.html*/
/*backdrop---------------------------------------------*/
.backdrop {
  top: 0;
  background: var(--backdrop-bg);
  position: fixed;
  width: 100%;
  height: 100%;
  transition: opacity var(--transition-hover-focus),
    visibility var(--transition-hover-focus);
}
.modal {
  position: absolute;
  transform: translate(-50%, -50%) translateX(0px);
  transition: transform var(--transition-hover-focus);
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background: var(--color-section-title);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) translateX(-600px);
}
.modal-button {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-footer-logo);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal-button-icon {
  transition: fill var(--transition-hover-focus);
}
.modal-button:hover .modal-button-icon,
.modal-button:focus .modal-button-icon {
  fill: var(--color-hover-focus);
}
.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
/*form------------------------------------------------------*/

.modal-name {
  display: block;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: var(--color-text);
}
.input-data {
  position: relative;
  margin-bottom: 10px;
}
.modal-input {
  width: 448px;
  height: 40px;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 42px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: var(--color-title);
  transition: border-color var(--transition-hover-focus);
}
.modal-input:focus {
  border-color: var(--color-hover-focus);
}
.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .modal-icon {
  fill: var(--color-hover-focus);
}
.modal-textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  outline: transparent;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  color: var(--color-title);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-hover-focus);
}
.modal-textarea:focus {
  border-color: var(--color-hover-focus);
}
.policy {
  margin-top: 10px;
}
.check-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--color-text);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}
.check-text span {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--color-title);
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}
.modal-policy:checked + .check-text span {
  background-color: var(--color-hover-focus);
  fill: var(--color-footer-logo);
  border-color: transparent;
}
.check-text span {
  transition: fill var(--transition-hover-focus);
}

.policy-contract {
  margin-left: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--color-hover-focus);
  position: relative;
  display: inline-block;
  transition: color var(--transition-hover-focus);
}
.modal-button-send {
  cursor: pointer;
  min-width: 200px;
  height: 50px;
  outline: transparent;
  background: var(--color-hover-focus);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--color-footer-logo);
  border: 0;
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  transition: background var(--transition-hover-focus);
}
