.nav {
    gap: 50px;
    margin-right: 318px;
    list-style: none;
    display: flex;
}

.nav-list {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428;
    letter-spacing: 0.02em;
}

.nav-studio {
    transition: color var(--transition-hover-focus);
    display: inline-block;
    position: relative;
    color: var(--color-title);
    text-decoration: none;
    &:focus,
        &:hover,
        &.current {
            color: var(--color-hover-focus);
        }
}

.nav-studio.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--color-hover-focus);
    border-radius: 2px;
    left: 0;
    bottom: 0;
    margin-bottom: -32px;
}

.nav-portfolio {
    transition: color var(--transition-hover-focus);
    display: inline-block;
    position: relative;
    color: var(--color-title);
    text-decoration: none;
    &:focus,
        &:hover,
        &.current {
            color: var(--color-hover-focus);
        }
}

.nav-portfolio.current::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background: var(--color-hover-focus);
    border-radius: 2px;
    left: 0;
    bottom: 0;
    margin-bottom: -32px;
}

.nav-contacts {
    transition: color var(--transition-hover-focus);
    color: var(--color-title);
    text-decoration: none;
    &:focus,
        &:hover {
            color: var(--color-hover-focus);
        }
}



